.changePassword{
    padding: 20px 20px;
}

.changePassword label{
    font-size: 16px;
    font-weight: 500;
}

.changePassword input{
    width: 100%;
}

.changePassword button[type="submit"]{
    padding: 5px  5px;
    font-size: 17px;
    color: #fff;
    background-color: #d25050;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: all 0.3s;
}
.changePassword button[type="submit"]:hover{
    cursor: pointer;
    opacity: 0.8;
}

.updateAccount{
    padding: 20px 20px;
}

.updateAccount label{
    font-size: 16px;
    font-weight: 500;
}

.updateAccount input{
    width: 100%;
}

.updateAccount button[type="submit"]{
    padding: 5px  5px;
    font-size: 17px;
    color: #fff;
    background-color: #d25050;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: all 0.3s;
}
.updateAccount button[type="submit"]:hover{
    cursor: pointer;
    opacity: 0.8;
}